.payment-containn {
  width: 45%;
  margin: 0 auto 50px;
  padding: 1.6%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EFFAFF;
  border-radius: 8px;
  box-shadow: 10px 10px 20px #333333;
  text-align: center;
  /* left: 25%; */
  position: relative;
}

.fo0rm-griid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  width: 100%;
  align-items: start;
}

.fo0rm_group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.inp0t {
  width: 100%;
  height: 60px;
  padding: 12px 12px 12px 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #977902, -1px -1px 2px #977902;
  border: 3px solid transparent;
  background-color: white;
}

.inp0t:focus,
.inp0t:hover {
  border-color: #FFCC00;
}

.error {
  border-color: red;
  height: 60px;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  height: 14px;
}

.input-icon-name,
.input-icon-email,
.input-icon-phone,
.input-icon-address,
.input-icon-date,
.input-icon-credit {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 50px;
}

.input-icon-name { background-image: url("../../public/images/name.jpg"); }
.input-icon-email { background-image: url("../../public/images/email.jpg"); }
.input-icon-phone { background-image: url("../../public/images/phone.jpg"); }
.input-icon-address { background-image: url("../../public/images/adress.jpg"); }
.input-icon-date { background-image: url("../../public/images/date.jpg"); }
.input-icon-credit { background-image: url("../../public/images/credit-card.jpg"); }

.input-icon-name:hover,
.input-icon-email:hover,
.input-icon-phone:hover,
.input-icon-address:hover,
.input-icon-date:hover,
.input-icon-credit:hover,
.input-icon-name:focus,
.input-icon-email:focus,
.input-icon-phone:focus,
.input-icon-address:focus,
.input-icon-date:focus,
.input-icon-credit:focus {
  border-color: #FFCC00;
}

.bottun-containn {
  grid-column: 1 / 3;  /* يمتد عبر العمودين */
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.booking-button {
  width: 49%;
  height: 60px;
  background-color: #FFCC00;
  border: 1px solid #977902;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 0.8px black;
  text-align: center;
  box-shadow: 2px 2px 4px #977902, -2px -2px 4px #977902;
  transition: all 0.4s ease;
}

.booking-button:hover {
  background-color: #aa8903;
  transform: scale(1.05);
}

@media (max-width: 968px) {
  .fo0rm-griid {
    grid-template-columns: 1fr;
    
  }
  
  .bottun-containn {
    grid-column: 1;
    justify-content: center;
  }

  .booking-button {
    width: 100%;
  }
}