.services-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* عمودين */
    /* place-content: center; */
    gap: 10px 40px;
    padding-left: 450px;
    /* padding: 10px 200px; */
    /* width: 70%; */
    width: 100vh;
  
  }
  
  .service-card {
    display: flex;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    align-items: center;
    width: 500px;
    height: 100px;
    box-shadow: 0px 3px 8px black;
  }
  
  .service-card-image {
    width: 70px;
    height: auto;
    margin-right: 20px;
  }
  
  .service-card-content {
    flex: 1;
  
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .service-select {
    margin-top: 0px;
    padding: 5px;
  }
  
  .quantity-selector {
    display: flex;
    align-items:center;
    gap: 10px;
    padding-left: 300px;
  
    order: -1;
    margin-bottom: -50px;
    padding-top: 15px;
  }
  
  .quantity-selector button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    
  }
  
  .quantity-selector span {
    font-weight: bold;
  }